/* frontend/css/global.css */
@import url('variables.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--fonte-padrao);
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}